{
	debug
	log {
		output file /var/log/caddy/access.log
	}
	email bryan@bryanwweber.com
}

*.apps.bryanwweber.com {
	tls {
		resolvers 1.1.1.1
		dns namecheap {
			api_key {env.NAMECHEAP_API_KEY}
			user {env.NAMECHEAP_API_USER}
			# api_endpoint https://api.sandbox.namecheap.com/xml.response
			api_endpoint https://api.namecheap.com/xml.response
			client_ip {env.PUBLIC_CLIENT_IP}
		}
	}
	@calibre host calibre.apps.bryanwweber.com
	@karakeep host karakeep.apps.bryanwweber.com
	@kosyncserver host kosyncserver.apps.bryanwweber.com
	@atuin host atuin.apps.bryanwweber.com
	@forgejo host forgejo.apps.bryanwweber.com

	# These proxies point to hosts on the tailnet. Make sure that the hostname of the
	# tailscale service in each container matches the name used in the reverse proxy.
	handle @calibre {
		reverse_proxy http://calibre:8080
	}
	handle @karakeep {
		reverse_proxy http://karakeep:3000
	}
	handle @kosyncserver {
		reverse_proxy http://kosyncserver:8000
	}
	handle @atuin {
		reverse_proxy http://atuin:8888
	}
	handle @forgejo {
		reverse_proxy http://forgejo:3000
	}
}
