services:
  calibre:
    image: ghcr.io/bryanwweber/calibre:${CALIBRE_VERSION:-8.5.0}
    env_file:
      - .env
    restart: unless-stopped
    volumes:
      - ${CALIBRE_LIBRARY}:/library
    ports:
      - 8080:8080

# volumes:
#   library:
