services:
  calibre:
    image: "ghcr.io/bryanwweber/calibre:latest"
    env_file:
      - .env
    restart: unless-stopped
    volumes:
      - ${CALIBRE_LIBRARY}:/library
    ports:
      - 8080:8080

# volumes:
#   library:
