name: Build and publish Calibre image

on:
  push:
    branches:
      - main
    paths:
      - ".github/workflows/build-calibre.yaml"
      - ".github/workflows/build-image.yaml"
      - "calibre/Dockerfile"
      - "docker-bake.hcl"
  pull_request:
    branches:
      - main
    paths:
      - ".github/workflows/build-calibre.yaml"
      - ".github/workflows/build-image.yaml"
      - "calibre/Dockerfile"
      - "docker-bake.hcl"
  workflow_dispatch:

permissions: {}

concurrency:
  group: "calibre"
  cancel-in-progress: true

jobs:
  get-versions:
    runs-on: ubuntu-24.04
    outputs:
      version: ${{ steps.get-version.outputs.version }}
      tags: ${{ steps.get-tags.outputs.tags }}
    permissions:
      packages: read
    steps:
      - name: Checkout the repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3.11.1
      - name: Get latest calibre version
        id: get-version
        run: |
          echo "version=$(docker buildx bake --file docker-bake.hcl calibre --print | jq -r '.target.calibre.args | .CALIBRE_VERSION + "-" + .UBUNTU_VERSION')" >> $GITHUB_OUTPUT
      - name: Get latest published calibre tag
        id: get-tags
        run: |
          echo "tags=$(gh api -H "Accept: application/vnd.github+json" -H "X-GitHub-Api-Version: 2022-11-28" /user/packages/container/calibre/versions | jq -cr 'sort_by(-.id)[0].metadata.container.tags' || echo '[]')" >> $GITHUB_OUTPUT
        env:
          GITHUB_TOKEN: ${{ github.token }}

  build-calibre:
    if: ${{ !contains(fromJson(needs.get-versions.outputs.tags), needs.get-versions.outputs.version) || github.event_name == 'workflow_dispatch' }}
    permissions:
      packages: write
      attestations: write
    uses: ./.github/workflows/build-image.yaml
    secrets:
      github-token: ${{ secrets.GITHUB_TOKEN }}
    needs:
      - get-versions
    with:
      target: calibre
      registry: ghcr.io
      image_name: bryanwweber/calibre
      version: ${{ needs.get-versions.outputs.version }}

  deploy:
    permissions:
      id-token: write
    if: (github.event_name == 'push' && github.ref == 'refs/heads/main') || github.event_name == 'workflow_dispatch'
    needs:
      - build-calibre
    uses: ./.github/workflows/deploy.yaml
    secrets:
      TS_OAUTH_CLIENT_ID: ${{ secrets.TS_OAUTH_CLIENT_ID }}
      TS_AUDIENCE: ${{ secrets.TS_AUDIENCE }}
      HETZNER_KNOWN_HOST: ${{ secrets.HETZNER_KNOWN_HOST }}
