name: Build and publish Calibre image

on:
  push:
    branches:
      - main
    paths:
      - ".github/workflows/build-calibre.yaml"
      - ".github/workflows/build-image.yaml"
      - "calibre/Dockerfile"
  pull_request:
    branches:
      - main
    paths:
      - ".github/workflows/build-calibre.yaml"
      - ".github/workflows/build-image.yaml"
      - "calibre/Dockerfile"
  workflow_dispatch:

permissions: {}

concurrency:
  group: "calibre"
  cancel-in-progress: true

jobs:
  get-versions:
    runs-on: ubuntu-24.04
    outputs:
      version: ${{ steps.get-version.outputs.version }}
    steps:
      - name: Checkout the repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3.11.1
      - name: Get latest calibre version
        id: get-version
        run: |
          echo "version=$(docker buildx bake --file docker-bake.hcl calibre --print | jq -r '.target.calibre.args | .CALIBRE_VERSION + "-" + .UBUNTU_VERSION')" >> $GITHUB_OUTPUT

  build-calibre:
    permissions:
      packages: write
      attestations: write
    uses: ./.github/workflows/build-image.yaml
    secrets:
      github-token: ${{ secrets.GITHUB_TOKEN }}
    needs:
      - get-versions
    with:
      target: calibre
      registry: ghcr.io
      image_name: bryanwweber/calibre
      version: ${{ needs.get-versions.outputs.version }}
