name: Deploy Apps using Ansible

on:
  workflow_dispatch:

permissions: {}

jobs:
  deploy:
    name: Deploy via Tailscale
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the repository
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          persist-credentials: false
      - name: Set up ssh dir
        run: |
          mkdir -p ~/.ssh/
          echo "${HOARDER_KNOWN_HOST}" >> ~/.ssh/known_hosts
          chmod 0600 ~/.ssh/known_hosts
        shell: bash
        env:
          HOARDER_KNOWN_HOST: ${{ vars.HOARDER_KNOWN_HOST }}`
      - name: Tailscale
        uses: tailscale/github-action@a392da0a182bba0e9613b6243ebd69529b1878aa # v4.1.0
        with:
          oauth-client-id: ${{ secrets.TS_OAUTH_CLIENT_ID }}
          oauth-secret: ${{ secrets.TS_OAUTH_SECRET }}
          tags: tag:gha
