name: Mirror GitHub Repos to Forgejo

on:
  workflow_dispatch:
  pull_request:
    branches:
      - main
    paths:
      - ".github/workflows/mirror-repos.yaml"
      - "forgejo/sync-github-repos.py"
  schedule:
    - cron: "17 2 3 * *"

permissions: {}

jobs:
  mirror-repos:
    runs-on: ubuntu-latest
    environment: deploy
    permissions:
      id-token: write
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
      - name: Setup uv
        uses: astral-sh/setup-uv@eac588ad8def6316056a12d4907a9d4d84ff7a3b # v7.3.0
      - name: Tailscale
        uses: tailscale/github-action@53acf823325fe9ca47f4cdaa951f90b4b0de5bb9 # v4.1.1
        with:
          oauth-client-id: ${{ secrets.TS_OAUTH_CLIENT_ID }}
          audience: ${{ secrets.TS_AUDIENCE }}
          tags: tag:github-actions
          ping: ${{ vars.HETZNER_HOST }}
      - name: Mirror repos
        run: uv run forgejo/sync-github-repos.py --host-url "$HOST_URL"
        env:
          FORGEJO_API_KEY: ${{ secrets.FORGEJO_API_KEY }}
          GH_AUTH_TOKEN: ${{ secrets.GH_AUTH_TOKEN }}
          HOST_URL: ${{ vars.FORGEJO_HOST }}
